.volume-container {
  all: unset;
  background-color: #1e1e2e;
  border-radius: 10px;
  border: 2px solid #89b4fa;
  box-shadow: 0 0 10px #00000080;
}

.volume {
  all: unset;
  min-width: 150px;
  min-height: 10px;
  color: #89b4fa;
}

.volume-icon {
  min-width: 24px;
  min-height: 24px;
}

.volume-bar > trough {
  min-width: 150px; /* Ensures the trough can expand */
  background-color: #313244;
  border-radius: 5px;
}

.volume-bar > trough > progress {
  background-color: #89b4fa;
  border-radius: 5px;
}

.volume-text {
  font-family: "Mononoki Nerd Font Mono Bold";
  font-size: 15px;
}